<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__internal_only_easywind_css_file__.css">

    <title>EasyWind • {{ current_dir }}</title>
    <meta content="EasyWind - {{ current_dir }}" name="og:site_name" property="og:site_name">
  </head>

  <body>
    <div class="bg-white px-6 py-32 lg:px-8">
      <div class="mx-auto max-w-6xl text-base leading-7 text-gray-700">

        <!-- header -->
        <p class="text-base font-semibold leading-7 text-indigo-600"><a href="/">EasyWind</a></p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Index for {{ current_dir }}</h1>

        <!-- link list -->
        <ul class="flex w-full flex-wrap py-4 sm:py-6">
          {% for (is_dir, link) in links %}
            <li class="w-full sm:w-1/2 md:w-1/4 pt-4 flex">
              {% if is_dir %}
                <p class="text-indigo-600">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-4">
                <path d="M19.5 21a3 3 0 003-3v-4.5a3 3 0 00-3-3h-15a3 3 0 00-3 3V18a3 3 0 003 3h15zM1.5 10.146V6a3 3 0 013-3h5.379a2.25 2.25 0 011.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 013 3v1.146A4.483 4.483 0 0019.5 9h-15a4.483 4.483 0 00-3 1.146z" />
              </svg>
                </p>
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-4">
                <path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" />
                <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
              </svg>
            {% endif %}
              <a href="{{ link }}" class="text-grey-800 text-xl">{{ link }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
